<div layout="row" layout-align="center center">

  <div class="table-employees">
    <div layout-gt-sm="row" layout-align="space-between center">
      <md-input-container style="height: 30px; width: 200px;">
        <label>Search for employee</label>
        <input type="search",
               ng-model="$ctrl.searchEmployee",
               ng-change="$ctrl.search()",
               ng-minlength="3",
               ng-maxlength="50",
               ng-model-options='{ debounce: 400 }'>
      </md-input-container>

      <md-button class="md-raised md-primary" ui-sref="createEmployee">Add</md-button>
    </div>

    <div>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
          <tr>
            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
              <span>#</span>
              <span class="arrow"></span>
            </th>

            <th sortable="placed" class="sortable">
              <span>Employee</span>
              <span class="arrow"></span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Department</span>
              <span class="arrow"></span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Edit</span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Delete</span>
            </th>

          </tr>
        </thead>


        <tbody>
          <tr grid-item ng-repeat="item in $ctrl.employees">
            <td class="mdl-data-table__cell--non-numeric">
              <span ng-bind="item.id"></span>
            </td>
            <td ng-bind="item.fullName"></td>
            <td ng-bind="item.department"></td>
            <td><md-button class="md-primary" ui-sref="editEmployee({ id: item.id })">Edit</md-button></td>
            <td><md-button class="md-primary" confirm-delete confirm-delete-click="$ctrl.delete(item.id)">Delete</md-button></td>
          </tr>
        </tbody>
      </table>
      <div layout-gt-sm="row" layout-align="center center" ng-if="$ctrl.employees.length" class="pagination">

        <md-button ng-disabled="$ctrl.paginLine.length <= 1" class="md-fab md-primary md-mini" ng-click="$ctrl.loadNext(-1)" ng-class="{'c-pagination__previus--disabled': !isCanPrevious()}">
          <a><</a>
        </md-button>

        <md-button ng-disabled="$ctrl.paginLine.length <= 1" class="md-fab md-primary md-mini" ng-repeat="step in $ctrl.paginLine track by $index">
          <a ng-click="$ctrl.loadPage(step)" ng-class="{'c-pagination__active': $ctrl.current_page == step}">{{step}}</a>
        </md-button>

        <md-button ng-disabled="$ctrl.paginLine.length <= 1" class="md-fab md-primary md-mini" ng-click="$ctrl.loadNext(+1)" ng-class="{'c-pagination__next--disabled': !$ctrl.isCanNext()}"">
          <a>></a>
        </md-button>

      </div>




    </div>
  </div>
</div>

