<div layout="row" layout-align="center center">

  <div class="table-employees">
    <div layout-gt-sm="row" layout-align="space-between center">
      <md-input-container style="height: 30px; width: 200px;">
        <label>Search for employee</label>
        <input type="search",
               ng-model="$ctrl.searchEmployee",
               ng-change="$ctrl.search()",
               ng-minlength="3",
               ng-maxlength="50",
               ng-model-options='{ debounce: 200 }'>
      </md-input-container>

      <md-button class="md-raised md-primary" ui-sref="createEmployee">Add</md-button>
    </div>

    <div>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
          <tr>
            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
              <span>#</span>
              <span class="arrow"></span>
            </th>

            <th sortable="placed" class="sortable">
              <span>Employee</span>
              <span class="arrow"></span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Department</span>
              <span class="arrow"></span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Edit</span>
            </th>
            <th sortable="placed" class="sortable">
              <span>Delete</span>
            </th>

          </tr>
        </thead>


        <tbody>
          <tr grid-item ng-repeat="item in $ctrl.employees track by $index">
            <td class="mdl-data-table__cell--non-numeric">
              <span ng-bind="item.id"></span>
            </td>
            <td><a ng-bind="item.fullName" ui-sref="profileEmployee({ id: item.id })"></a></td>
            <td ng-bind="item.department"></td>
            <td><md-button class="md-primary" ui-sref="editEmployee({ id: item.id })">Edit</md-button></td>
            <td><md-button class="md-primary" confirm-delete confirm-delete-click="$ctrl.delete(item.id)">Delete</md-button></td>
          </tr>
        </tbody>
      </table>

      <div layout-gt-sm="row" layout-align="center center" ng-if="$ctrl.pager.pages.length" class="pagination">
        <md-button class="md-fab md-primary md-mini" ng-disabled="$ctrl.pager.currentPage === 1" ng-click="$ctrl.setPage(1)">
          <a><<</a>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-disabled="$ctrl.pager.currentPage === 1" ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">
          <a><</a>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-repeat="page in $ctrl.pager.pages" ng-class="{active: $ctrl.pager.currentPage === page}" ng-click="$ctrl.setPage(page)">
          <a>{{page}}</a>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-disabled="$ctrl.pager.currentPage === $ctrl.pager.totalPages" ng-click="$ctrl.setPage( $ctrl.pager.currentPage + 1)">
          <a>></a>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-disabled="$ctrl.pager.currentPage === $ctrl.pager.totalPages" ng-click="$ctrl.setPage($ctrl.pager.totalPages)">
          <a>>></a>
        </md-button>
      </div>

    </div>
  </div>
</div>

